<div class="row">
	<div class="col-md-1"></div>

	<div class="col text-center">
		<h1 class="text-center">Cadastro de Filmes</h1>
	</div>

	<div class="col-md-2 has-text-right">
		<button class="btn btn-primary btn-sm">
			<i class="fa fa-plus"></i> Adicionar
		</button>
	</div>	

	<div class="col-md-1"></div>
</div><br>

<div *ngFor="let movie of movies">
	<div class="row justify-content-center">	
		<div class="col-md-10">
			<mdb-card>
			    <mdb-card-body>
				    <mdb-card-title>
				        <h5>{{ movie.title }}</h5>
				    </mdb-card-title>
			        <mdb-card-text>
			        	<div class="row">
			        		<div class="col-md-3">
					        	<b>Genero: </b> {{ movie.genre.name }}	        			
			        		</div>
			        		<div class="col-md-3">
								<b>Quantidade em Estoque: </b> {{ movie.numberInStock }}		        			
			        		</div>
			        		<div class="col-md-2">
								<b>Diaria: </b> {{ movie.dailyRentalRate | currency:'BRL' }}		        			
			        		</div>
							<div class="col-md-4">
						    	<a class="btn btn-yellow btn-sm card-link" (click)="changePage(movie)">
						    		<i class="fa fa-edit"></i> Editar
						    	</a>
						    	<a class="btn btn-danger btn-sm card-link" (click)="callDelete(movie)">
						    		<i class="fa fa-trash"></i> Deletar
						    	</a>							
							</div>		        		
			        	</div>
			    	</mdb-card-text>
			  	</mdb-card-body>
			</mdb-card>
		</div>
	</div><br>	
</div>
